.idea/
.vscode/
build*/
cmake-build*/
io*/
result*/
admin/variables.sh
run/*.plt
run/*.dat
gmshfiles/*.msh
run/*.msh
IO/*
*.*vtu
regression_tests/
.ipynb_checkpoints/
CheckPoint*/
*cmake*
__pycache__
